/* general colours for the site */
:root {
    --dark: rgb(114, 158, 38);
    --light: white;
  
  }
  /* overall universal styling for the page */
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  /* styling for the body element of the page */
  body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  background: var(--light);
  }

  h1 {
    text-align: center;
  }
  /* defining the font size of H2 */
  h2 {
    font-size: 40px;
  }
/*  setting the background for the header */
  #header-top {
    background-color: var(--dark);
  }
  /* making sure the main element is using flex box */
  main {
    display: flex;
    justify-content: space-around;
  }

/* styling for the background image on the page */
  #style-bg{
    box-sizing: border-box;
    background-color: grey;
    background-image: url(../images/long-range-forecast-for-late-october-2021-374561-1_1280.jpeg);
    background-size: cover;
    background-position: center center;
    background-blend-mode: multiply;
    background-repeat: no-repeat;
}

/* setting the font size for the recent locations title */
#recent-title {
  font-size: 25px;
  text-align: center;
}

/* styling for each of the dynamically created recent locations */
.added-locations {
  background-color: rgb(164, 109, 13);
  margin: 2px;
  border-radius: 2px;
  color: black;
  padding: 5px;
}

/* making the weather display as flex box column for the current weather section */
  #current-weather {
    margin: 10px;
    padding: 10px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #recent-weather {
    margin: 10px;
    padding: 10px;
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/* setting the weather icon size */
  #icon-now{
    max-width: 100px;
  }
/* setting the dynamically created divs for the 5 day forecast to display flex row */
  #five-day-fore {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
/* styling for the dynamically created divs for the 5 day forecast */
  .forecast-day {
    background-color: var(--dark);
    padding: 20px;
    margin: 10px;
    align-items: center;
  }

  #five-day-title {
    text-align: center;
    color: var(--light);
  }

#current-title {
  text-align: center;

  color: var(--light);
}

/* changing the styleing to fit smaller screens  */
  @media(max-width: 768px) {
    #five-day-fore {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
      }
    #column-aside {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
    main {
      display: flex;
      flex-direction: column;
      align-content: center;
    }
  }